<%= button_to "All Episodes", episodes_path, method: :get %>
<%= button_to "All Guests", guests_path, method: :get %>

<h1>Episode #<%= @episode.number %></h1>
<ul>
<% @episode.guests.each do |guest| %>
        <li>
            <%= guest.name %> <br>
       </li>
 <% end %>
</ul>
 <%= link_to "Add an Appearance", new_appearance_path%>


    
