<h1> CREATE A NEW APPEARANCE </h1>

<%= form_for @appearance do |f| %>
<%= f.label :episode_number %>
<%= f.collection_select :episode_id, Episode.all, :id, :number %><br>
<%= f.label :guest_name %>
<%= f.collection_select :guest_id, Guest.all, :id, :name %><br>
<%= f.label :rating %>
<%= f.number_field :rating, in: 1...6 %><br>
  <%= f.submit %>
<% end %>